body{
    background:linear-gradient(to right,  #031c6e, #8ecdff);
}
.mainBox{
    align-items: center;
    margin-left: 2cm;
    margin-right: 2cm;
}

.welcomeBox{
    transform: translateX(0%);
    display: flex;
    width: max-content;
    height: max-content;
    color: rgb(153, 144, 93);
    background-color: rgb(96, 169, 218,0.35);
    font-size: 40;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: stretch;
    border: 3px;
    border-radius: 5%;
}

.lowerBox{
 
    display: flex;
    height: fit-content;
    width: auto;
    margin-bottom: 30px;
    transform:  translateX(-7%);
    
}

button{
    border-radius: 60%;
    tab-size: 4cm;
}

.circle1{
   margin: 3px;
}
.circle2{
    margin: 10px;
 }
 .circle3{
    margin: 10px;
 }

img.contactUs{
    width: 45%;
    height: 45%;
    border: 3px;
    border-radius: 65%;
    transform: translate(50%,0%);
}
img.pictures{
    width: 65%;
    height: 65%;
    border: 3px;
    border-radius: 65%;
    transform: translate(0%,50%);
}

img.services{
    width: 90%;
    height: 90%;
    border: 3px;
    border-radius: 65%;
    transform: translate(0%,100%);
}

.paragrapgh1{
    font-family: fantasy;
    transform: translate(-20%,20%);
}

.paragrapgh2{
    font-family: fantasy;
    transform: translate(-30%,65%);
}

.paragrapgh3{
    font-family: fantasy;
    transform: translate(20%,95%);
}


.maEats{
    background-color: rgba(250, 250, 250, 0.25);
    max-width: 100%;
    height: 48%;
    margin-top: 5%;
}
.menu{
    background-color: rgba(250, 250, 250, 0.45);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 110%;
    width: 30%;
    height: 75%;
    text-align: center;
    margin-top: 0.7cm;
    margin-left: 1cm;
    border: 3px;
    border-radius: 5%;

}
.pictureGallery{
    background-color: rgba(250, 250, 250, 0.45);
    width: 50%;
    max-width: 600px;
    justify-items: center;
}

.rooms{
    background-color: rgba(250, 250, 250, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 60%;
}

